# Minimal Airflow runtime needed
apache-airflow==2.10.5
apache-airflow-providers-cncf-kubernetes==10.6.1


# Minimal Airflow runtime dependencies
attrs>=22.2.0
packaging>=23.0
pydantic==2.11.6
typing_extensions>=4.5.0
sqlalchemy>=1.4,<2.0
tabulate>=0.8.10
werkzeug>=2.2.0
flask>=2.2.0