# Core iceberg dependency with S3 support
pyiceberg[s3fs]==0.9.0

# Needed for filesystem abstraction
fs>=2.4.16
pyarrow==19.0.1

# Needed for error capture
wurlitzer==3.1.1

# Needed for observability
opentelemetry-sdk==1.33.1
opentelemetry-exporter-otlp==1.33.1
